.@{btn-prefix-cls} {
  transition: initial;
  border-radius: var(--antd-button-border-radius);
  & {
    &:hover,
    &:focus {
      color: var(--antd-btn-default-hover-color);
      border-color: var(--antd-btn-default-hover-border-color);
      background: var(--antd-btn-default-bg);
    }

    &.active,
    &:active {
      color: var(--antd-btn-default-active-color);
      border-color: var(--antd-btn-default-active-border-color);
      background: var(--antd-btn-default-bg);
    }
  }

  &-primary {
    background-image: var(--antd-btn-primary-bg-image);
    background-origin: border-box;
    border-color: transparent;
    text-shadow: none;
    box-shadow: none;

    &[disabled] {
      background-image: none;
    }

    &:hover,
    &:focus {
      color: var(--antd-btn-primary-hover-color);
      background-color: var(--antd-btn-primary-hover-bg);
      border-color: var(--antd-btn-primary-hover-bg);
    }

    &.active,
    &:active {
      color: var(--antd-btn-primary-active-color);
      background-color: var(--antd-btn-primary-active-bg);
      border-color: var(--antd-btn-primary-active-bg);
    }
  }

  &-danger {
    background-image: var(--antd-btn-danger-bg-image);
    background-origin: border-box;
    border-color: transparent;

    &[disabled] {
      background-image: none;
    }

    &:hover,
    &:focus {
      color: var(--antd-btn-danger-hover-color);
      background-color: var(--antd-btn-danger-hover-bg);
      border-color: var(--antd-btn-danger-hover-bg);
    }

    &.active,
    &:active {
      color: var(--antd-btn-danger-active-color);
      background-color: var(--antd-btn-danger-active-bg);
      border-color: var(--antd-btn-danger-active-bg);
    }
  }

  &-default {
    border-radius: var(--antd-button-border-radius);
    &:hover,
    &:focus {
      color: var(--antd-btn-default-hover-color);
      border-color: var(--antd-btn-default-hover-border-color);
      background: var(--antd-btn-default-bg);
    }

    &.active,
    &:active {
      color: var(--antd-btn-default-active-color);
      border-color: var(--antd-btn-default-active-border-color);
      background: var(--antd-btn-default-bg);
    }
  }

  &-link {
    &:hover,
    &:focus {
      color: var(--antd-btn-link-hover-color);
      border-color: transparent;
      background-color: transparent;
    }

    &.active,
    &:active {
      color: var(--antd-btn-link-active-color);
      border-color: transparent;
      background-color: transparent;
    }
  }

  &-text {
    color: var(--antd-btn-default-color);
    &:hover,
    &:focus {
      color: var(--antd-btn-text-hover-color);
      background-color: rgba(0, 0, 0, 0.018);
      border-color: transparent;
    }

    &.active,
    &:active {
      color: var(--antd-btn-text-active-color);
      background-color: rgba(0, 0, 0, 0.028);
      border-color: transparent;
    }
  }

  &-circle {
    border-radius: 50%;
  }

  &-round {
    border-radius: 32px;
  }

  &-circle&-sm {
    min-width: 28px;
  }

  &-sm {
    line-height: 13px;
    height: 26px;
    font-size: 13px;
  }
}

html[data-theme="dark"] {
  .@{btn-prefix-cls} {
    &-primary {
      background-image: none;
    }
  }
}
