/**
 * 修改 Input 的样式
 * 蓝湖链接：https://lanhuapp.com/web/#/item/project/board/detail?pid=08ef7a67-b5e6-4aee-8b6d-6999377c4fdb&project_id=08ef7a67-b5e6-4aee-8b6d-6999377c4fdb&image_id=a0bee232-89c7-45d3-b3cf-7300c457ac9a
*/
.@{input-prefix-cls} {
  &:focus {
    border-color: var(--antd-input-focus-border-color);
  }

  &-group-addon {
    color: #595959;
  }

  &-search-button {
    padding: 0 10px;
  }

  &-search {
    &-icon {
      &::before {
        border-left: none;
      }
    }
  }
}

.@{input-number-prefix-cls} {
  &-handler-wrap {
    width: 20px;
    border-left-color: transparent;
    background-clip: content-box;
    background-color: var(--theme-gray-background);
  }

  &-handler:hover {
    background-color: var(--theme-blue-background);
  }

  &-handler-down {
    border-top-color: transparent;
  }
}
