.ant-message-notice-content {
  box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.14);
  height: 54px;
  padding: 16px 24px 16px 22px;
  border-radius: 32px;
  border: var(--antd-message-border);
  backdrop-filter: blur(20px);

  .ant-message-custom-content {
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--antd-message-content-color);

    .anticon {
      top: 0;
      margin-right: 8px;
      font-size: 28px;
    }
  }
}

.ant-message-notice-info {
  .ant-message-notice-content {
    background: var(--antd-message-bg-info);

    .anticon {
      color: var(--palette-blue-6);
    }
  }
}

.ant-message-notice-success {
  .ant-message-notice-content {
    background: var(--antd-message-bg-success);

    .anticon {
      color: var(--palette-green-6);
    }
  }
}

.ant-message-notice-error {
  .ant-message-notice-content {
    background: var(--antd-message-bg-error);

    .anticon {
      color: var(--palette-red-6);
    }
  }
}

.ant-message-notice-warn {
  .ant-message-notice-content {
    background: var(--antd-message-bg-warn);

    .anticon {
      color: var(--palette-amber-6);
    }
  }
}
