.@{table-prefix-cls} {
  &-thead > tr > th {
    padding: 8px @table-padding-horizontal;
    font-size: 12px;
    line-height: 20px;
    border-bottom: 0;

    .@{table-prefix-cls}-column-sorter
      .@{table-prefix-cls}-column-sorter-inner-full {
      margin-top: -0.6em;
    }

    &.@{table-prefix-cls}-column-sort.@{table-prefix-cls}-column-has-sorters {
      background-color: var(--antd-table-header-sort-active-bg);
    }

    &.@{table-prefix-cls}-column-has-sorters{
      &:hover{
        .@{table-prefix-cls}-filter-trigger-container{
          background-color: var(--antd-table-header-sort-active-bg);
        }
      }
    }

    &.@{table-prefix-cls}-column-has-sorters{
      .@{table-prefix-cls}-filter-column-title{
        padding: 0px;
        .@{table-prefix-cls}-column-sorters{
          padding-right: 26px;

        }
      }
    }
  }

  &-thead > tr {
    .@{table-prefix-cls}-cell-fix-left,
    .@{table-prefix-cls}-cell-fix-right {
      background-color: var(--antd-table-cell-fixed-header-bg);
    }
  }

  &-pagination.@{ant-prefix}-pagination {
    margin-bottom: 0;
  }

  &-expand-icon-th {
    width: 32px;
    min-width: 32px;
  }

  &-middle .@{table-prefix-cls}-thead{
    > tr > th {
      padding: 6px 8px;
    }
  }

  &-middle .@{table-prefix-cls}-tbody{
    > tr > td {
      padding: 6px 8px;
    }
  }
  &-small .@{table-prefix-cls}-thead{
    > tr > th {
      padding: 4px 8px;
    }
  }

  &-row-expand-icon-cell {
    padding: 14px 0;
    width: 32px;
    min-width: 32px;
  }

  &-tbody {
    .@{table-prefix-cls}-cell-fix-left,
    .@{table-prefix-cls}-cell-fix-right {
      background-color: var(--antd-table-cell-fixed-body-bg);
    }
    > tr > td {
      border-bottom-color: var(--antd-table-border-color);
      padding: 9px 16px;
    }

    > tr > td.@{table-prefix-cls}-column-sort {
      background-color: var(--antd-table-header-overwrite-sort-td-active-bg);
    }

    tr.@{table-prefix-cls}-row-selected {
      > td {
        background: none;
        border-color: var(--antd-table-row-selected-border-color);
      }

      td.@{table-prefix-cls}-selection-column {
        .@{ant-prefix}-checkbox-wrapper-checked {
          background: none;
        }
      }
    }

    tr.@{table-prefix-cls}-expanded-row {
      > td {
        padding: 0;
      }

      background: var(--antd-table-row-expand-nested-wrapper);

      &:hover {
        background: var(--antd-table-row-expand-nested-wrapper);
      }

      .@{table-prefix-cls}-wrapper {
        background: var(--antd-table-row-expand-nested-wrapper);
        padding: 20px 32px;
        table {
          th {
            background: var(--antd-table-row-expand-nested-wrapper);
            border-bottom: 1px solid
              var(--antd-table-row-expand-nested-wrapper-border);
          }

          td {
            background: var(--antd-table-row-expand-nested-wrapper);
            padding: 10px 16px;

            button {
              max-height: 21px;
            }
          }
        }
      }
    }
  }
  &-tbody > tr {
    &.@{table-prefix-cls}-row-hover,
    &:hover {
      &:not(.@{table-prefix-cls}-expanded-row):not(.@{table-prefix-cls}-row-selected) > td {
        background-color: var(--color-fill-bg-base-1);
      }
    }
    &:hover {
      &.@{table-prefix-cls}-row-selected > td {
        background-color: var(--color-fill-bg-base-1);
        &.@{table-prefix-cls}-column-sort {
          background-color: var(--color-fill-bg-base-1);
        }
      }
    }
  }
  
  &-column-sorter{
    color: var(--color-secondary-text);
  }
  &-filter-column-title {
    padding: 14px 26px 14px 0px;
    display: inline-flex;
    align-items: center;
  }
  &-filter-column {
    align-items: center;
    position: relative;
    margin: -11px 0px;
  }

  &-column-has-sorters{
    .@{table-prefix-cls}-filter-column {
      display: inline-block;
    }
    .@{table-prefix-cls}-filter-trigger-container {
      position: absolute;
    }
  }
  &-filter-column:not(&-column-has-sorters){
      .@{table-prefix-cls}-filter-column-title{
        flex-grow: 0;
        padding-right: 2px;
      }
    }
  &-filter-trigger-container{
      position: relative;
  }
  &-filter-trigger {
    font-size: 11px;
    width: 25px;
    color:  var(--color-secondary-text);
    .@{table-prefix-cls}-filter-trigger-container-open & {
      color: #595959;
    }
  }
  &-filter-dropdown {
    position: absolute;
    top: 5px;
    &-btns {
      background-color: var(--color-fill-bg-base-3);
    }
  }
}
