.@{table-prefix-cls} {
  &-thead > tr > th {
    padding: 11px @table-padding-horizontal;
    font-size: 12px;
    line-height: 20px;
    border-bottom: 0;

    .@{table-prefix-cls}-column-sorter
      .@{table-prefix-cls}-column-sorter-inner-full {
      margin-top: -0.6em;
    }

    &.@{table-prefix-cls}-column-sort.@{table-prefix-cls}-column-has-sorters {
      background-color: var(--antd-table-header-sort-active-bg);
    }

    &.@{table-prefix-cls}-column-has-sorters{
      .@{table-prefix-cls}-filter-column-title{
        padding: 0px;
        .@{table-prefix-cls}-column-sorters{
          padding-right: 26px;

        }
      }
    }
  }

  &-thead > tr {
    .@{table-prefix-cls}-cell-fix-left,
    .@{table-prefix-cls}-cell-fix-right {
      background-color: var(--antd-table-cell-fixed-header-bg);
    }
  }

  &-pagination.@{ant-prefix}-pagination {
    margin-bottom: 0;
  }

  &-expand-icon-th {
    width: 32px;
    min-width: 32px;
  }

  &-row-expand-icon-cell {
    padding: 14px 0;
    width: 32px;
    min-width: 32px;
  }

  &-tbody {
    .@{table-prefix-cls}-cell-fix-left,
    .@{table-prefix-cls}-cell-fix-right {
      background-color: var(--antd-table-cell-fixed-body-bg);
    }
    > tr > td {
      border-bottom-color: var(--antd-table-border-color);
    }

    > tr > td.@{table-prefix-cls}-column-sort {
      background-color: var(--antd-table-header-overwrite-sort-td-active-bg);
    }

    tr.@{table-prefix-cls}-row-selected {
      > td {
        background: none;
        border-color: var(--antd-table-row-selected-border-color);
      }

      td.@{table-prefix-cls}-selection-column {
        .@{ant-prefix}-checkbox-wrapper-checked {
          background: none;
        }
      }
    }

    tr.@{table-prefix-cls}-expanded-row {
      > td {
        padding: 0;
      }

      background: var(--antd-table-row-expand-nested-wrapper);

      &:hover {
        background: var(--antd-table-row-expand-nested-wrapper);
      }

      .@{table-prefix-cls}-wrapper {
        background: var(--antd-table-row-expand-nested-wrapper);
        padding: 20px 32px;
        table {
          th {
            background: var(--antd-table-row-expand-nested-wrapper);
            border-bottom: 1px solid
              var(--antd-table-row-expand-nested-wrapper-border);
          }

          td {
            background: var(--antd-table-row-expand-nested-wrapper);
            padding: 10px 16px;

            button {
              max-height: 21px;
            }
          }
        }
      }
    }
  }

  &-filter-column-title {
    padding: 11px 26px 11px 16px;
    display: inline-flex;
    align-items: center;
  }
  &-filter-column {
    display: inline-block;
    align-items: center;
    position: relative;
  }

  &-filter-trigger-container{
    padding: 0px 7px 0px 7px;
  }
  &-filter-trigger {
    font-size: 11px;
    width: 1em;
    color:  var(--color-secondary-text);
    .@{table-prefix-cls}-filter-trigger-container-open &,
    &:hover {
      color: var(--bg-color-button-primary);
    }
  }
  &-filter-dropdown {
    position: absolute;
    top: 5px;
    &-btns {
      background-color: var(--color-fill-bg-base-3);
    }
  }
}