.@{tag-prefix-cls} {
  line-height: 22px;
  padding: 0 9px;
  border-radius: 12px;
  border-color: transparent !important;

  &:not([class*="@{tag-prefix-cls}-"]) {
    background: var(--theme-gray-background);
    color: var(--text-color-default);
  }

  &:hover {
    opacity: inherit;
  }

  &-has-color {
    color: #fff;
    background: var(--theme-gray-background);
  }

  // 可选择标签样式
  &-checkable {
    color: var(--text-color-default);
    background: var(--theme-gray-background);
  }

  &-checkable-checked {
    color: #ffffff;
    background: var(--theme-blue-color);
  }

  &-checkable:not(&-checkable-checked):hover {
    color: var(--theme-blue-color);
  }

  &-checkable-checked:hover {
    background: var(--bg-color-button-primary-hover);
  }

  // 可关闭标签样式
  &-close-icon {
    color: var(--text-color-secondary);

    &:hover {
      color: var(--text-color-default);
    }
  }

  // 多彩标签样式
  &-green {
    color: var(--theme-green-color);
    background: var(--theme-green-background);
  }

  &-red {
    color: var(--theme-red-color);
    background: var(--theme-red-background);
  }

  &-blue {
    color: var(--theme-blue-color);
    background: var(--theme-blue-background);
  }

  &-orange {
    color: var(--theme-orange-color);
    background: var(--theme-orange-background);
  }

  &-cyan {
    color: var(--theme-cyan-color);
    background: var(--theme-cyan-background);
  }

  &-purple {
    color: var(--theme-purple-color);
    background: var(--theme-purple-background);
  }

  &-geekblue {
    color: var(--theme-geekblue-color);
    background: var(--theme-geekblue-background);
  }

}
