.ant-transfer-list {
  background: #fff;
  border-radius: 6px;
}

.ant-transfer-list-header {
  background: #f5f5f5;
  border-bottom: none;
}

.ant-transfer-operation {
  .ant-btn {
    border-radius: 50%;
  }

  .ant-btn:first-child {
    margin-bottom: 8px;
  }
}
