@background-color-base: var(--antd-background-color-base);
@background-color-light: var(--antd-background-color-light);
@blue-6: #0071eb;
@border-color-base: var(--antd-border-color-base);
@border-color-split: var(--antd-border-color-split);
@border-radius-base: 6px;
@box-shadow-base: var(--antd-box-shadow-base);
@component-background: var(--antd-component-background);
@disabled-color: var(--text-color-disabled);
@heading-color: var(--antd-heading-color);
@item-active-bg: var(--antd-item-active-bg);
@item-hover-bg: var(--antd-item-hover-bg);
@link-color: var(--antd-link-color);
@link-hover-color: var(--antd-link-hover-color);
@link-active-color: var(--antd-link-active-color);
@text-color-secondary: var(--antd-text-color-secondary);
@text-color: var(--antd-text-color);

@height-sm: 28px;

@btn-danger-bg: #f0493c;
@btn-danger-border: @btn-danger-bg;
@btn-shadow: none;
@btn-default-bg: var(--antd-btn-default-bg);
@btn-default-color: var(--antd-btn-default-color);
@btn-default-border: var(--antd-btn-default-border);
@btn-primary-color: var(--antd-btn-primary-color);
@btn-danger-color: var(--antd-btn-danger-color);

@card-background: var(--antd-card-background);
@card-head-padding: 12px;
@card-padding-base: 20px;
@card-radius: @border-radius-base;
@card-hover-border: transparent;
@card-shadow: var(--antd-card-shadow);

@collapse-panel-border-radius: @card-radius;
@collapse-content-bg: var(--antd-collapse-content-bg);

@form-item-label-colon-margin-right: 12px;
@form-item-margin-bottom: 20px;

@input-bg: var(--antd-input-bg);
@input-color: var(--antd-input-color);
@input-placeholder-color: var(--antd-input-placeholder-color);
@input-hover-border-color: var(--antd-input-hover-border-color);
@input-border-color: var(--antd-input-border-color);
@input-disabled-bg: var(--antd-input-disabled-bg);

@layout-body-background: transparent;

@menu-collapsed-width: 48px;
@menu-icon-size-lg: 14px;
@menu-popup-bg: var(--antd-menu-popup-bg);
@menu-item-active-bg: var(--antd-menu-item-active-bg);

@modal-mask-bg: var(--antd-modal-mask-bg);
@modal-footer-bg: var(--antd-modal-footer-bg);
@modal-footer-border-style: none;
@modal-footer-padding-horizontal: 24px;

@picker-basic-cell-hover-with-range-color: var(
  --antd-picker-basic-cell-hover-with-range-color
);
@picker-basic-cell-active-with-range-color: var(
  --antd-picker-basic-cell-active-with-range-color
);

@radio-solid-checked-color: var(--antd-radio-solid-checked-color);
@radio-dot-color: var(--antd-radio-dot-color);
@radio-button-hover-color: var(--antd-radio-button-hover-color);

@select-dropdown-bg: var(--antd-select-dropdown-bg);
@select-item-selected-bg: var(--antd-select-item-selected-bg);
@select-item-active-bg: var(--antd-select-item-active-bg);

@table-bg: var(--antd-table-bg);
@table-header-color: var(--antd-table-header-color);
@table-header-bg: var(--antd-table-header-bg);
@table-row-hover-bg: var(--antd-table-row-hover-bg);
@table-padding-vertical: 14px;
@table-border-radius-base: 4px;
@table-body-sort-bg: var(--antd-table-body-sort-bg);
@table-selected-row-hover-bg: var(--antd-table-selected-row-hover-bg);
@table-expanded-row-bg: var(--antd-table-expanded-row-bg);

@tabs-title-font-size: 16px;
@tabs-title-font-size-lg: 18px;
@tabs-title-font-size-sm: 14px;
@tabs-horizontal-padding: 12px 8px;
@tabs-horizontal-padding-lg: 10px 16px;
@tabs-horizontal-padding-sm: 9px 11px;

@divider-color: var(--antd-divider-color);

@dropdown-menu-bg: var(--antd-dropdown-menu-bg);

@checkbox-color: var(--antd-checkbox-color);
@checkbox-check-bg: vat(--antd-checkbox-check-bg);

@label-color: var(--antd-label-color);
@icon-color-hover: var(--antd-icon-color-hover);

@tooltip-bg: var(--antd-tooltip-bg);
@tooltip-color: var(--antd-tooltip-color);

@popover-bg: var(--antd-popover-bg);
@popover-color: var(--antd-popover-color);

@transfer-item-hover-bg: var(--antd-transfer-item-hover-bg);
@transfer-item-selected-hover-bg: var(--antd-transfer-item-selected-hover-bg);
@transfer-disabled-bg: var(--antd-transfer-disabled-bg);

@calendar-bg: var(--antd-calendar-bg);

@avatar-bg: var(--antd-avatar-bg);
@avatar-color: var(--antd-avatar-color);

@slider-rail-background-color: var(--antd-slider-rail-background-color);
@slider-rail-background-color-hover: var(
  --antd-slider-rail-background-color-hover
);
@slider-track-background-color: var(--antd-slider-track-background-color);
@slider-track-background-color-hover: var(
  --antd-slider-track-background-color-hover
);
@slider-handle-color: var(--antd-slider-handle-color);
@slider-handle-background-color: var(--antd-slider-handle-background-color);
@slider-handle-color-hover: var(--antd-slider-handle-color-hover);
@slider-dot-border-color-active: var(--antd-slider-dot-border-color-active);

@error-color: var(--antd-error-color);
