@blue-6: #167be0;

/**
 * 修改 nz-table 的hover状态颜色
 * 蓝湖链接：https://lanhuapp.com/web/#/item/project/board/detail?pid=6a513040-2585-4e92-a5d5-9fa80ba2642b&project_id=6a513040-2585-4e92-a5d5-9fa80ba2642b&image_id=51f4cfe1-0047-4602-bf4a-a184010ead04
*/
@table-row-hover-bg: #ecf6fd;

@layout-body-background: transparent;
