#portal-mount-point {
  height: 0;
  width: 0;
  position: absolute;
}

body.launchpad-open {
  overflow: hidden;
}

.launchpad-open #main-mount-point,
.filter-of-blur #main-mount-point {
  filter: var(--launchpad-backdrop-filter);
}

.bootstrap-error #global-loading-bar {
  display: none;
}
