body {
  background-color: #eff4fa;
}

#root-layout {
  display: flex;
}

#root-content {
  flex: 1;
  min-width: 0;
  min-height: 0;
}

#menu-bar-mount-point {
  width: var(--menu-bar-width);
}

#main-mount-point,
#legacy-iframe-mount-point {
  margin-top: var(--app-bar-height);
  transition: var(--launchpad-backdrop-transition);
}

#legacy-iframe-mount-point,
#bg-mount-point,
#portal-mount-point {
  display: none;
}

.bars-hidden #main-mount-point,
.bars-hidden #legacy-iframe-mount-point {
  margin-top: 0;
}

.show-legacy-iframe #main-mount-point,
.bars-hidden #menu-bar-mount-point,
.bars-hidden #app-bar-mount-point {
  display: none;
}

.show-legacy-iframe #legacy-iframe-mount-point {
  display: block;
}

.menu-bar-collapsed #menu-bar-mount-point {
  width: var(--menu-bar-collapsed-width);
}

#menu-bar-mount-point,
#app-bar-mount-point {
  visibility: hidden;
}

.first-rendered #menu-bar-mount-point,
.first-rendered #app-bar-mount-point {
  visibility: visible;
}

.first-rendered #menu-bar-mount-point {
  transition: width var(--menu-bar-collapse-transition-duration)
    var(--menu-bar-collapse-transition-timing-function);
}

body.launchpad-open {
  overflow: hidden;
}

.launchpad-open #main-mount-point,
.launchpad-open #legacy-iframe-mount-point,
.filter-of-blur #main-mount-point,
.filter-of-blur #legacy-iframe-mount-point {
  filter: var(--launchpad-backdrop-filter);
}

@media print {
  .print-hide {
    display: none;
  }
}

.easyops-icon {
  width: 1em;
}

/* Ref https://mika-el.github.io/angular-loading-page/#/animations */
/* Will be used in basic-bricks.loading-bar, too */
.global-loading-bar {
  height: 3px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 10000;
}

.global-loading-bar > div {
  position: absolute;
  left: -200px;
  width: 200px;
  height: 100%;
  background-color: #0077e6;
  animation: global-loading 2s ease-in 100ms infinite;
}

.rendered-loading-bar,
.first-rendered .initial-loading-bar {
  display: none;
}

/* `.rendered-loading-bar` will be used in basic-bricks.loading-bar */
.first-rendered .rendered-loading-bar.loading {
  display: block;
}

@keyframes global-loading {
  from {
    left: -30%;
    width: 30%;
  }
  50% {
    width: 30%;
  }
  70% {
    width: 70%;
  }
  80% {
    left: 50%;
  }
  95% {
    left: 120%;
  }
  to {
    left: 100%;
  }
}
