body {
  height: auto;
  padding: 15px;
  background-color: var(--body-background);
  background-image: repeating-linear-gradient(
      0deg,
      transparent,
      transparent 7px,
      var(--palette-gray-5) 1px,
      transparent 8px
    ),
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent 7px,
      var(--palette-gray-5) 1px,
      transparent 8px
    );
  background-size: 15px 15px;
  background-position: -7px 9px;
}
