:host {
  display: block;
  position: relative;
  background: var(--antd-dropdown-menu-bg);
  border-radius: 6px;
  overflow: auto;
}

.menu-item {
  position: relative;
  display: flex;
  align-items: stretch;
  line-height: 1;
  letter-spacing: normal;
  color: var(--text-color-default);
  padding: 8px 12px;
  transition: 150ms fill;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
}

.menu-item:not(.disabled):hover {
  background-color: var(--antd-item-hover-bg);
}

.menu-item.disabled {
  cursor: not-allowed;
  color: var(--text-color-disabled);
}

.menu-item-icon {
  margin-right: 4px;
}
