{
  "root": true,
  "extends": "@easyops/eslint-config-next",
  "overrides": [
    {
      "files": [
        "cypress/plugins/**/*.js",
        "packages/brick-container/{dev-server,serve}/**/*.js",
        "packages/rollup-config-factory/src/**/*.{ts,js}",
        "packages/webpack-config-factory/src/**/*.{ts,js}",
        "packages/build-config-factory/src/**/*.{ts,js}",
        "packages/brick-scripts/src/**/*.{ts,js}",
        "packages/sdk-scripts/src/**/*.{ts,js}",
        "packages/create-next-repo/src/**/*.{ts,js}",
        "packages/eslint-config-next/*.js",
        "packages/babel-preset-next/*.js",
        "packages/babel-preset-prismjs/*.js",
        "packages/browserslist-config-next/*.js",
        "packages/dev-dependencies/**/*.js",
        "packages/dll-differ/**/*.js",
        "packages/less-plugin-css-variables/**/*.js"
      ],
      "extends": "@easyops/eslint-config-next/node"
    },
    {
      "files": ["packages/brick-scripts/template/**/*.{js,ts,jsx,tsx}"],
      "rules": {
        "@typescript-eslint/no-empty-interface": "off"
      }
    },
    {
      "files": ["cypress/**/*.js"],
      "extends": "@easyops/eslint-config-next/node",
      "globals": {
        "cy": true,
        "Cypress": true
      }
    }
  ]
}
