{
  "root": true,
  "extends": "@next-core/eslint-config-next",
  "overrides": [
    {
      "files": [
        "cypress/plugins/**/*.js",
        "packages/brick-container/{dev-server,serve,webpack}/**/*.js",
        "packages/eslint-config-next/*.js",
        "packages/babel-preset-next/*.js",
        "packages/babel-preset-prismjs/*.js",
        "packages/browserslist-config-next/*.js",
        "packages/build-next-libs/**/*.js",
        "packages/build-next-bricks/**/*.js",
        "packages/test-next/**/*.js",
        "packages/brick-playground/serve/**/*.js",
        "packages/create-api-sdk/**/*.{ts,js}",
        "packages/webpack/**/*.{ts,js}",
        "packages/doc-helpers/**/*.js",
        "packages/serve-helpers/**/*.js",
        "packages/yo/**/*.js",
        "v3/lodash-v3/**/*.js",
        "v3/moment-v3/**/*.js"
      ],
      "extends": "@next-core/eslint-config-next/node"
    },
    {
      "files": ["cypress/**/*.js"],
      "extends": "@next-core/eslint-config-next/node",
      "globals": {
        "cy": true,
        "Cypress": true
      },
      "env": {
        "mocha": true,
        "jest": false
      }
    }
  ]
}
