dist
dist-*
temp
node_modules
.coverage
.vscode
.idea
.DS_Store
.schema
.cache
*.log
report.*.json

/dev.config.js
/dev.config.mjs
/dev-settings.yaml
/dev-https.key
/dev-https.cert

/cypress/videos
/cypress/screenshots

/bricks/*/.pkgbuild/
/bricks/*/deploy/
