registry=https://registry.npm.taobao.org
@easyops:registry=http://registry.npm.easyops.local
@bricks:registry=http://registry.npm.easyops.local
@dll:registry=http://registry.npm.easyops.local
@libs:registry=http://registry.npm.easyops.local
@micro-apps:registry=http://registry.npm.easyops.local
@sdk:registry=http://registry.npm.easyops.local
tag-version-prefix=
