version: "3.8"
services:
  e2e:
    image: cypress/included:10.7.0
    working_dir: /app
    volumes:
      - '.:/app'
    entrypoint: npx start-server-and-test serve:e2e http://localhost:8081/next/ cypress:run
