:root {
  color-scheme: dark;
  background-color: #121212;
  color: #ededed;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

body[data-loading] {
  display: none;
}

.brick-playground,
.brick-playground-column {
  display: flex;
  height: 100vh;
}

.brick-playground-column {
  flex-direction: column;
}

.brick-playground-column,
.brick-playground-editor,
.brick-playground-preview {
  flex: 1;
  min-height: 0;
  min-width: 0;
}

.brick-playground-divider {
  min-width: 0;
  flex: 0 0 1px;
  background-color: gray;
}

.brick-playground-preview > iframe {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.brick-playground-editor-title,
.brick-playground-toolbar {
  padding: 0 10px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brick-playground-column.yaml > [data-mode="html"] {
  display: none;
}

.brick-playground-column.html > [data-mode="yaml"] {
  display: none;
}
