html[data-theme="dark"],
html[data-theme="dark-v2"],
[data-override-theme="dark-v2"] {
  color-scheme: dark;
}

:root,
[data-override-theme="light"] {
  color-scheme: light;
}

:root,
body,
#preview-root {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
}

#preview-root {
  padding: 10px;
  overflow: auto;
}

#portal-mount-point {
  height: 0;
  width: 0;
  position: absolute;
}
