/* common */
body.ui-v8-2 {
  --body-background: var(--color-fill-global-bg-1);
  --page-title-margin-top: 0px;
  --page-title-margin-bottom: 16px;
  --page-title-with-breadcrumb-margin-top: 10px;
  --page-title-font-size: 24px;
  --page-title-font-weight: 500;
  --page-title-line-height: 28px;
  --page-title-toolbar-height: 28px;

  --page-padding: 16px 24px 24px 24px;
  --page-padding-top: 16px;
  /* Other page paddings are the same as default */

  --wide-color: "#F4F6F9";

  --page-card-gap: 32px;

  --tab-content-padding: 16px 24px 24px 24px;

  --side-bar-width: 220px;
  --sidebar-bg: #f7f8fa;
  --tab-shadow: none;

  --card-head-padding: 12px 0 0 0;
  --card-body-padding: 16px 0;
  --card-footer-padding: 8px 0;
  --card-border-color-split: transparent;
  --card-footer-shadow: transparent;

  --tab-content-padding: 16px 0;

  --description-header-padding: 20px 0 0 0;
  --description-content-padding: 0;
  --description-border-bottom-color: rgba(232, 232, 232, 0.6);
}

/* light */
html[data-theme="light"] body.ui-v8-2 {
  --color-fill-global-bg-1: #ffffff;
  --color-fill-global-bg-2: #ffffff;
  --color-fill-bg-container-1: #ffffff;
}

/* dark */
html[data-theme="dark"] body.ui-v8-2,
html[data-theme="dark-v2"] body.ui-v8-2 {
  --color-fill-global-bg-1: #202024;
  --color-fill-global-bg-2: #202024;
  --color-fill-bg-container-1: #202024;
}
