/* default */
html[data-ui="v8-2"] {
  --page-title-margin-top: 0px;
  --page-title-margin-bottom: 16px;
  --page-title-with-breadcrumb-margin-top: 10px;
  --page-title-font-size: 24px;
  --page-title-font-weight: 500;
  --page-title-line-height: 28px;
  --page-title-toolbar-height: 28px;

  --page-padding: 16px 24px 24px 24px;
  --page-padding-top: 16px;
  /* Other page paddings are the same as default */

  --wide-color: "#F4F6F9";

  --page-card-gap: 32px;

  --tab-content-padding: 16px 24px 24px 24px;

  --side-bar-width: 220px;

  --card-head-padding-horizontal: 0;
  --card-body-padding-horizontal: 0;

  --tab-content-padding: 16px 0;

  --description-header-padding: 20px 0 0 0;
  --description-content-padding: 0;
}

html[data-ui="v8-2"],
html[data-ui="v8-2"] [data-override-theme="light"] {
  --body-background: var(--color-fill-global-bg-1);

  --sidebar-bg: #f7f8fa;

  --tab-shadow: none;

  --description-border-bottom-color: rgba(232, 232, 232, 0.6);

  --color-fill-global-bg-1: #ffffff;
  --color-fill-global-bg-2: #ffffff;
  --color-fill-bg-container-1: #ffffff;
}

/* dark */
html[data-theme="dark"][data-ui="v8-2"],
html[data-theme="dark-v2"][data-ui="v8-2"],
html[data-ui="v8-2"] [data-override-theme="dark"],
html[data-ui="v8-2"] [data-override-theme="dark-v2"] {
  --color-fill-global-bg-1: #202024;
  --color-fill-global-bg-2: #202024;
  --color-fill-bg-container-1: #202024;
}
