:root,
body,
#preview-root {
  height: 100%;
}

#preview-root {
  padding: 10px;
  overflow: auto;
}

#portal-mount-point {
  height: 0;
  width: 0;
  position: absolute;
}

body.bootstrap-error {
  color: var(--color-error, red);
}

body.bootstrap-error #global-loading-bar {
  display: none;
}

body.bootstrap-not-ready {
  background-color: transparent;
}
