.checkboxWrapper {
  flex: auto;
  max-width: 100%;
  box-sizing: border-box;
}
.checkboxLabel {
  margin-left: 16px;
  font-size: 14px;
  line-height: 1.57;
  display: inline-flex;
  align-items: baseline;
  cursor: pointer;
  line-height: 22px;
  text-align: center;
  box-sizing: 22px;
}

.checkboxLabel:first-child {
  margin-left: 0px;
}

.checkboxLabelDisabled {
  cursor: not-allowed;
  color: var(--text-color-disabled);
}

.checkboxInputWrapper {
  position: relative;
  top: 0.2em;
}

.checkboxInputWrapperDisabled {
  cursor: not-allowed;
}

.checkboxLabel .checkboxInput {
  height: 16px;
  width: 16px;
  z-index: 1;
  cursor: pointer;
  margin: 0px;
}

.checkboxLabel .checkboxInput[type="checkbox"]:checked {
  color: black;
  background-color: red;
}

.checkboxLabel .checkboxInner {
  background: red;
}

.checkboxLabel .checkboxInner::after {
}

.checkboxLabel .checkboxInputDisabled {
  cursor: not-allowed;
}

.checkboxLabel .checkboxText {
  padding: 0 8px;
}

.iconCheckbox,
.disabledIconCheckbox {
  position: relative;
  display: inline-block;
  width: 104px;
  height: 104px;
  margin-right: 12px;
  text-align: center;
  cursor: pointer;
}

.iconCustomCheckbox,
.disabledIconCustomCheckbox {
  width: 186px;
  height: 114px;
  margin: 0 15px 20px 0;
}

.disabledIconCheckbox,
.disabledIconCustomCheckbox {
  cursor: not-allowed;
  .content {
    .text {
      color: var(--antd-checkbox-custom-type-disabled-color);
    }
  }
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputBox {
  padding: 5px;
  text-align: right;
  line-height: 15px;
}

.inputBox input[type="checkbox"]::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  border: 1px solid var(--antd-checkbox-custom-type-item-border-color);
  top: 0;
  left: 0;
}
