html[data-theme="dark-v2"],
[data-override-theme="dark-v2"] {
  /* Basic CSS variables Refs: https://tapd.easyops.local/pages/viewpage.action?pageId=36045937 */

  /***  在  :root 定义的变量和使用的色板值一样的话，不需要在这额外定义 ***/
  --palette-gray-1: rgba(255, 255, 255, 0);
  --palette-gray-2: rgba(255, 255, 255, 0.04);
  --palette-gray-3: rgba(255, 255, 255, 0.08);
  --palette-gray-4: rgba(255, 255, 255, 0.12);
  --palette-gray-5: rgba(255, 255, 255, 0.02);
  --palette-gray-6: rgba(255, 255, 255, 0.03);
  --palette-gray-7: rgba(255, 255, 255, 0.45);
  --palette-gray-8: rgba(255, 255, 255, 0.65);
  --palette-gray-9: rgba(255, 255, 255, 0.85);
  --palette-gray-10: rgba(255, 255, 255, 1);

  --body-background: #17171a;

  --color-brand: var(--palette-blue-6);
  --color-fill-global-bg-1: var(--palette-gray-1);

  --color-fill-bg-container-1: #232324;
  --color-fill-bg-container-2: #2a2a2b;
  --color-fill-bg-container-3: #313132;
  --color-fill-bg-container-4: #373739;

  --color-fill-bg-base-2: var(--palette-gray-3);
  --color-auxiliary-text: var(--palette-gray-9);

  --mask-bg: rgba(23, 23, 26, 0.6);

  --base-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.1);
  --feedback-container-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.14);
  --right-slide-shadow: -2px 0px 8px 0px rgba(0, 0, 0, 0.14);
  --left-slide-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.14);
  --connected-overlay-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.14);
  --fullscreen-overlay-shadow: 0px 10px 32px 0px rgba(0, 0, 0, 0.24);
  --hover-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.8);
  --slide-up-shadow: 0px -6px 18px 0px rgba(0, 0, 0, 0.14);
  --menu-shadow: 6px 0px 18px 0px rgba(0, 0, 0, 0.24);

  --menu-bg: var(--palette-gray-3);
  --menu-item-selected-bg: var(--palette-blue-6);
  --menu-collapse-bar-border-color: var(--palette-gray-3);
  --menu-collapse-bar-bg: var(--palette-gray-3);
  --menu-item-hover: var(--palette-gray-2);
  --app-submenu-bg: var(--palette-gray-2);
  --menu-submenu-selected-bg: var(--palette-gray-3);
  --app-submenu-active-bg: var(--palette-blue-1);

  /* component CSS variables */

  /***  basic antd variables  ***/
  --antd-text-color: var(--color-normal-text);
  --antd-text-color-secondary: var(--color-secondary-text);

  --antd-border-color-split: var(--color-text-divider-line);

  /*** menu ***/
  --antd-menu-bg: var(--menu-bg);
  --antd-menu-color: var(--color-header-text);
  --antd-menu-shadow: var(--menu-shadow);
  --antd-menu-popup-bg: var(--color-fill-bg-container-4);
  --antd-menu-title-bg: var(--color-fill-bg-base-2);
  --antd-menu-title-color: var(--color-strong-text);
  --antd-menu-item-active-bg: var(--color-fill-bg-base-1);
  --antd-menu-item-hover: var(--menu-item-hover);
  --antd-menu-item-selected-bg: var(--menu-item-selected-bg);
  --ant-menu-submenu-selected-bg: var(--menu-submenu-selected-bg);
  --ant-menu-item-group-title-color: var(--color-strong-text);
  --ant-menu-collapse-bar-bg: var(--menu-collapse-bar-bg);
  --ant-menu-collapse-bar-border-color: var(--menu-collapse-bar-border-color);

  --antd-app-submenu-title: var(--color-header-text);
  --antd-app-submenu-bg: var(--app-submenu-bg);
  --antd-app-submenu-active-bg: var(--app-submenu-active-bg);
  --antd-app-submenu-shadow: var(--base-shadow);
  --antd-app-submenu-group-title-color: var(--antd-text-color-secondary);

  /*** divider  ***/
  --antd-divider-color: var(--color-text-divider-line);

  /*** appp bar ***/
  --app-bar-bg: var(--color-fill-bg-container-1);
  --app-bar-shadow: var(--feedback-container-shadow);
  --app-bar-dropdown-menu-item-color: var(--color-normal-text);
  --app-bar-dropdown-menu-item-hover-bg: var(--color-fill-bg-base-1);

  /*** dropdown ***/
  --antd-dropdown-menu-bg: var(--color-fill-bg-container-4);
}
