:root,
[data-override-theme="light"] {
  /* Basic CSS variables Refs: https://tapd.easyops.local/pages/viewpage.action?pageId=36045937 */

  --palette-gray-1: #fff;
  --palette-gray-2: #fafafa;
  --palette-gray-3: #f5f5f5;
  --palette-gray-4: #e8e8e8;
  --palette-gray-5: #d9d9d9;
  --palette-gray-6: #bfbfbf;
  --palette-gray-7: #8c8c8c;
  --palette-gray-8: #595959;
  --palette-gray-9: #262626;
  --palette-gray-10: #000;

  --palette-blue-1: #e6f4ff;
  --palette-blue-2: #bde1ff;
  --palette-blue-3: #94cbff;
  --palette-blue-4: #6bb3ff;
  --palette-blue-5: #4297ff;
  --palette-blue-6: #1a7aff;
  --palette-blue-7: #0b5ad9;
  --palette-blue-8: #003eb3;
  --palette-blue-9: #002c8c;
  --palette-blue-10: #001d66;

  --palette-green-1: #f6ffed;
  --palette-green-2: #d9f7be;
  --palette-green-3: #b7eb8f;
  --palette-green-4: #95de64;
  --palette-green-5: #73d13d;
  --palette-green-6: #52c41a;
  --palette-green-7: #389e0d;
  --palette-green-8: #237804;
  --palette-green-9: #135200;
  --palette-green-10: #092b00;

  --palette-red-1: #fff5f0;
  --palette-red-2: #ffdac9;
  --palette-red-3: #ffbba1;
  --palette-red-4: #ff9a78;
  --palette-red-5: #ff754f;
  --palette-red-6: #f24c25;
  --palette-red-7: #cc3014;
  --palette-red-8: #a61b08;
  --palette-red-9: #800b00;
  --palette-red-10: #590400;

  --palette-amber-1: #fffde6;
  --palette-amber-2: #fff6a6;
  --palette-amber-3: #ffee7d;
  --palette-amber-4: #ffe354;
  --palette-amber-5: #ffd52b;
  --palette-amber-6: #f7bf02;
  --palette-amber-7: #d19900;
  --palette-amber-8: #ab7800;
  --palette-amber-9: #855800;
  --palette-amber-10: #5e3c00;

  --color-brand: #0071eb;
  --color-brand-hover: var(--palette-blue-4);
  --color-brand-active: var(--palette-blue-8);
  --color-fill-global-bg-1: #f7f8fa;
  --color-fill-global-bg-2: var(--palette-gray-1);
  --color-fill-bg-container-1: var(--palette-gray-1);
  --color-fill-bg-container-2: var(--palette-gray-1);
  --color-fill-bg-container-3: var(--palette-gray-1);
  --color-fill-bg-container-4: var(--palette-gray-1);

  --color-fill-bg-base-1: var(--palette-gray-3);
  --color-fill-bg-base-2: #d9ffff;
  --color-text-divider-line: var(--palette-gray-4);
  --color-border-divider-line: var(--palette-gray-5);
  --color-header-text: var(--palette-gray-9);
  --color-strong-text: var(--palette-gray-10);
  --color-normal-text: var(--palette-gray-8);
  --color-secondary-text: var(--palette-gray-7);
  --color-disabled-text: var(--palette-gray-6);

  --color-success: var(--palette-green-6);
  --color-success-hover: var(--palette-green-4);
  --color-success-active: var(--palette-green-8);
  --color-success-bg: var(--palette-green-2);
  --color-success-outline: var(--palette-green-3);

  --color-info: var(--palette-blue-6);
  --color-info-hover: var(--palette-blue-4);
  --color-info-active: var(--palette-blue-8);
  --color-info-bg: var(--palette-blue-2);
  --color-info-outline: var(--palette-blue-3);

  --color-warning: var(--palette-amber-6);
  --color-warning-hover: var(--palette-amber-4);
  --color-warning-active: var(--palette-amber-8);
  --color-warning-bg: var(--palette-amber-2);
  --color-warning-outline: var(--palette-amber-3);

  --color-error: var(--palette-red-6);
  --color-error-hover: var(--palette-red-4);
  --color-error-active: var(--palette-red-8);
  --color-error-bg: var(--palette-red-2);
  --color-error-outline: var(--palette-red-3);

  --small-border-radius: 2px;
  --medius-border-radius: 4px;
  --larger-border-radius: 6px;
  --container-border-radius: 500px;
  --no-border-radius: 0px;
  --special-border-radius: 0 0 6px 6px;

  --normal-font-size: 14px;
  --title-font-size: 16px;
  --special-title-font-size: 20px;
  --sub-menu-title-font-size: 18px;
  --card-title-font-size: 16px;
  --statistical-title-font-size: 16px;
  --sub-title-font-size-small: 12px;
  --sub-title-font-size: 14px;
  --auxiliary-font-size: 14px;
  --auxiliary-font-size-small: 12px;
  --bread-crumbs-font-size: 12px;
  --overview-data-font-size: 30px;
  --special-data-font-size: 20px;
  --normal-data-font-size: 16px;
  --chart-legend-font-size: 12px;
  --chart-tooltips-font-size: 12px;
  --chart-axis-x-font-size: 10px;
  --chart-axis-y-font-size: 10px;

  --font-weight-600: 600;
  --font-weight-500: 500;
  --font-weight-400: 400;
  --font-weight-200: 200;

  --line-height-base: 1.5;

  --mask-bg: rgba(11, 26, 47, 0.45);

  --base-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
  --feedback-container-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
  --right-slide-shadow: -2px 0px 8px 0px rgba(0, 0, 0, 0.14);
  --left-slide-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.14);
  --connected-overlay-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
  --fullscreen-overlay-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
  --hover-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.8);
  --slide-up-shadow: 0px -4px 12px 0px rgba(0, 0, 0, 0.15);

  --border-width-base: 1px;
  --border-width-double-base: 2px;
  --no-border-width: 0;

  /* component CSS variables */

  /*** menu ***/
  --antd-menu-bg: #4e93ef;
  --antd-menu-color: #fff;
  --antd-menu-highlight-color: var(--color-brand);
  --antd-menu-title-bg: rgba(255, 255, 255, 0.1);
  --antd-menu-popup-bg: #fff;
  --antd-menu-title-color: var(--antd-menu-color);
  --antd-menu-shadow: 3px 0px 8px 0px rgba(218, 218, 218, 0.44);
  --antd-menu-item-active-bg: #3e86e6;
  --antd-menu-item-hover: var(--antd-menu-item-active-bg);
  --antd-menu-item-selected-bg: var(--color-brand);
  --ant-menu-submenu-selected-bg: rgba(0, 99, 206, 0.2);
  --ant-menu-item-group-title-color: rgba(255, 255, 255, 0.65);
  --ant-menu-collapse-bar-bg-channel: 194, 225, 255;
  --ant-menu-collapse-bar-bg: rgba(
    var(--ant-menu-collapse-bar-bg-channel),
    0.1
  );
  --ant-menu-collapse-bar-border-color: rgba(
    var(--ant-menu-collapse-bar-bg-channel),
    0.15
  );
  --antd-app-submenu-title: rgba(0, 0, 0, 0.85);
  --antd-app-submenu-bg: var(--antd-menu-popup-bg);
  --antd-app-submenu-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.04);
  --antd-app-submenu-group-title-color: var(--antd-text-color-secondary);

  /*** divider  ***/
  --antd-divider-color: rgba(0, 0, 0, 6%);

  /*** appp bar ***/
  --app-bar-bg: rgba(255, 255, 255, 1);
  --app-bar-shadow: 0px 3px 20px 0px rgba(128, 128, 128, 0.2);
  --app-bar-dropdown-menu-item-color: var(--text-color-default);
  --app-bar-dropdown-menu-item-hover-bg: var(--theme-blue-background);

  /*** dropdown ***/
  --antd-dropdown-menu-bg: var(--antd-component-background);
}
