:root,
[data-override-theme="light"] {
  /* Basic CSS variables Refs: https://tapd.easyops.local/pages/viewpage.action?pageId=36045937 */

  --palette-gray-1: #fff;
  --palette-gray-2: #fafafa;
  --palette-gray-3: #f5f5f5;
  --palette-gray-4: #e8e8e8;
  --palette-gray-5: #d9d9d9;
  --palette-gray-6: #bfbfbf;
  --palette-gray-7: #8c8c8c;
  --palette-gray-8: #595959;
  --palette-gray-9: #262626;
  --palette-gray-10: #000;

  --color-brand: #0071eb;
  --color-brand-hover: var(--palette-blue-4);
  --color-brand-active: var(--palette-blue-8);
  --color-fill-global-bg-1: #f7f8fa;
  --color-fill-global-bg-2: var(--palette-gray-1);
  --color-fill-bg-container-1: var(--palette-gray-1);
  --color-fill-bg-container-2: var(--palette-gray-1);
  --color-fill-bg-container-3: var(--palette-gray-1);
  --color-fill-bg-container-4: var(--palette-gray-1);
  --color-fill-bg-container-5: var(--palette-gray-8);

  --color-fill-bg-base-1: var(--palette-gray-3);
  --color-fill-bg-base-2: rgb(255, 255, 255, 0.08);
  --color-fill-bg-base-3: #f3f4f7;
  --color-fill-bg-base-4: var(--palette-gray-2);
  --color-text-divider-line: var(--palette-gray-4);
  --color-border-divider-line: var(--palette-gray-5);
  --color-header-text: var(--palette-gray-9);
  --color-strong-text: var(--palette-gray-9);
  --color-normal-text: var(--palette-gray-8);
  --color-auxiliary-text: var(--palette-gray-8);
  --color-secondary-text: var(--palette-gray-7);
  --color-disabled-text: var(--palette-gray-6);

  --color-success: var(--palette-green-6);
  --color-success-hover: var(--palette-green-4);
  --color-success-active: var(--palette-green-8);
  --color-success-bg: var(--palette-green-2);
  --color-success-outline: var(--palette-green-3);

  --color-info: var(--palette-blue-6);
  --color-info-hover: var(--palette-blue-4);
  --color-info-active: var(--palette-blue-8);
  --color-info-bg: var(--palette-blue-2);
  --color-info-icon-bg: var(--palette-blue-1);
  --color-info-outline: var(--palette-blue-3);

  --color-warning: var(--palette-amber-6);
  --color-warning-hover: var(--palette-amber-4);
  --color-warning-active: var(--palette-amber-8);
  --color-warning-bg: var(--palette-amber-2);
  --color-warning-outline: var(--palette-amber-3);

  --color-error: var(--palette-red-6);
  --color-error-hover: var(--palette-red-4);
  --color-error-active: var(--palette-red-8);
  --color-error-bg: var(--palette-red-2);
  --color-error-outline: var(--palette-red-3);
  --color-white: #fff;

  --small-border-radius: 2px;
  --medius-border-radius: 4px;
  --larger-border-radius: 6px;
  --container-border-radius: 500px;
  --no-border-radius: 0px;
  --special-border-radius: 0 0 6px 6px;

  --normal-font-size: 14px;
  --title-font-size: 16px;
  --special-title-font-size: 20px;
  --sub-menu-title-font-size: 18px;
  --card-title-font-size: 16px;
  --statistical-title-font-size: 16px;
  --sub-title-font-size-small: 12px;
  --sub-title-font-size: 14px;
  --auxiliary-font-size: 14px;
  --auxiliary-font-size-small: 12px;
  --bread-crumbs-font-size: 12px;
  --overview-data-font-size: 30px;
  --special-data-font-size: 20px;
  --normal-data-font-size: 16px;
  --chart-legend-font-size: 12px;
  --chart-tooltips-font-size: 12px;
  --chart-axis-x-font-size: 10px;
  --chart-axis-y-font-size: 10px;

  --font-weight-600: 600;
  --font-weight-500: 500;
  --font-weight-400: 400;
  --font-weight-200: 200;

  --line-height-base: 1.5;

  --mask-bg: rgba(11, 26, 47, 0.45);

  --base-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
  --feedback-container-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
  --right-slide-shadow: -2px 0px 8px 0px rgba(0, 0, 0, 0.14);
  --left-slide-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.14);
  --connected-overlay-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
  --fullscreen-overlay-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
  --hover-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.8);
  --slide-up-shadow: 0px -4px 12px 0px rgba(0, 0, 0, 0.15);
  --menu-shadow: 2px 0px 0px 0px rgba(0, 0, 0, 0.24);
  --input-shadow: 0px 0px 0px 2px rgba(189, 225, 255, 1);
  --input-success-shadow: 0px 0px 0px 2px rgba(229, 255, 199, 1);
  --input-error-shadow: 0px 0px 0px 2px rgba(255, 218, 201, 1);
  --chart-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
  --border-width-base: 1px;
  --border-width-double-base: 2px;
  --no-border-width: 0;

  --menu-bg: #4e93ef;
  --menu-item-selected-bg: var(--color-brand);
  --menu-item-hover: #3e86e6;
  --menu-submenu-selected-bg: rgba(0, 99, 206, 0.2);
  --menu-dropdown-bg: var(--palette-blue-1);
  --app-submenu-active-bg: #e0eeff;

  --checkbox-bg-hover: #ebf3fd;
  --checkbox-bg-active: var(--palette-gray-3);
  --input-outline-hover: var(--palette-blue-6);
  --input-outline-focus: var(--palette-blue-6);
  --input-fill-bg: var(--palette-gray-3);

  --chart-legend-font-size: 12px;
  --chart-tooltips-font-size: 12px;
  --chart-tooltips-font-size: 12px;
  --chart-axis-x-font-size: 10px;
  --chart-axis-y-font-size: 10px;
  --chart-tooltip-bg: rgba(255, 255, 255, 0.95);
  --chart-auxiliary-text: #9aa1a9;
  --chart-outline-select: var(--palette-gray-10);

  /* component CSS variables */

  /***  basic antd variables  ***/
  --antd-primary-color: var(--color-brand);
  --antd-border-color-split-lighten-80: #fff;
  --antd-border-color-split: #f0f0f0;
  --antd-heading-color: rgba(0, 0, 0, 0.85);
  --antd-label-color: var(--antd-heading-color);
  --antd-component-background: #fff;
  --antd-border-color-base: #d9d9d9;
  --text-color-disabled: #bfbfbf;
  --antd-background-color-base: #f5f5f5;
  --antd-item-active-bg: var(--antd-background-color-light);
  --antd-item-hover-bg: #f5f5f5;
  --antd-icon-color-hover: rgba(0, 0, 0, 0.75);

  /*** menu ***/
  --antd-menu-bg: #4e93ef;
  --antd-menu-color: #fff;
  --antd-menu-highlight-color: var(--color-brand);
  --antd-menu-title-bg: rgba(255, 255, 255, 0.1);
  --antd-menu-popup-bg: #fff;
  --antd-menu-title-color: var(--antd-menu-color);
  --antd-menu-shadow: 3px 0px 8px 0px rgba(218, 218, 218, 0.44);
  --antd-menu-item-active-bg: #e6f6ff;
  --antd-menu-item-hover: var(--menu-item-hover);
  --antd-menu-item-selected-bg: var(--menu-item-selected-bg);
  --ant-menu-submenu-selected-bg: var(--menu-submenu-selected-bg);
  --ant-menu-item-group-title-color: rgba(255, 255, 255, 0.65);
  --ant-menu-collapse-bar-bg-channel: 194, 225, 255;
  --ant-menu-collapse-bar-bg: rgba(
    var(--ant-menu-collapse-bar-bg-channel),
    0.1
  );
  --ant-menu-collapse-bar-border-color: rgba(
    var(--ant-menu-collapse-bar-bg-channel),
    0.15
  );
  --antd-app-submenu-title: rgba(0, 0, 0, 0.85);
  --antd-app-submenu-bg: var(--antd-menu-popup-bg);
  --antd-app-submenu-active-bg: var(--app-submenu-active-bg);
  --antd-app-submenu-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.04);
  --antd-app-submenu-group-title-color: var(--antd-text-color-secondary);

  /*** divider  ***/
  --antd-divider-color: rgba(0, 0, 0, 6%);

  /*** appp bar ***/
  --app-bar-bg: rgba(255, 255, 255, 1);
  --app-bar-shadow: 0px 3px 20px 0px rgba(128, 128, 128, 0.2);
  --app-bar-dropdown-menu-item-color: var(--text-color-default);
  --app-bar-dropdown-menu-item-hover-bg: var(--theme-blue-background);

  /*** dropdown ***/
  --antd-dropdown-menu-bg: var(--antd-component-background);

  /*** checkbox ***/
  --antd-checkbox-color: var(--color-brand);
  --antd-checkbox-bg-hover: var(--checkbox-bg-hover);
  --antd-checkbox-checked: var(--checkbox-bg-active);
  --antd-checkbox-check-bg: var(--antd-component-background);

  /*** card ***/
  --antd-card-background: var(--antd-component-background);
  --antd-card-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.04);

  /*** radio dashboard ***/
  --antd-dashboard-radio-bg: #f2f5f9;
  --antd-dashboard-radio-item-bg: #f0f3fa;
  --antd-dashboard-radio-item-color: #777f99;
  --antd-dashboard-radio-item-disabled-color: var(--color-disabled-text);
  --antd-dashboard-radio-item-checked-bg: var(--antd-component-background);
  --antd-dashboard-radio-item-checked-color: var(--color-info);
  --antd-dashboard-radio-item-checked-shadow: 0 0 0 3px rgb(0, 113, 235, 0.08);
  --antd-radio-solid-checked-color: var(--antd-component-background);

  /*** radio button ***/
  --antd-radio-dot-color-fade-8: rgb(0 113 235 0.08);
  --antd-radio-dot-color: var(--antd-primary-color);

  /*** divider ***/
  --antd-divider-radiation-color: linear-gradient(
      to right,
      transparent,
      #f9f9f9,
      #979797,
      #979797
    )
    no-repeat;
  --antd-divider-radiation-text-color: #262626;
  --antd-divider-radiation-proportion-normal-text-color: #595959;
  --antd-divider-radiation-proportion-strong-text-color: #262626;

  /*** statistic card ***/
  --statistic-card-item-title-color: rgba(140, 140, 140, 1);
  --statistic-card-itme-value-color: #262626;

  /*** base chart ***/
  --antd-chart-legend-text-color: #595959;
  --antd-chart-legend-unchecked-text-color: #d8d8d8;
  --antd-chart-legend-unchecked-mark-color: #d8d8d8;
  --antd-chart-legend-pageNavigator-marker-color: #000;
  --antd-chart-legend-pageNavigator-marker-inactive-color: #000;
  --antd-chart-legend-pageNavigator-text-color: #8c8c8c;
  --antd-chart-tooltip-bg: rgb(255, 255, 255);
  --antd-chart-tooltip-boxShadow: 0px 0px 10px #aeaeae;
  --antd-chart-tooltip-color: var(--antd-chart-legend-text-color);
  --antd-chart-label-color: var(--antd-chart-legend-text-color);

  /*** general-button ***/
  --antd-btn-special-icon-type-color: var(--palette-gray-7);
  --antd-btn-special-icon-type-bg: var(--palette-gray-3);
  --antd-btn-special-icon-type-hover-color: var(--color-brand);
  --antd-btn-special-icon-type-hover-bg: #d8ecff;
  --antd-btn-special-icon-type-active-color: #378be3;
  --antd-btn-special-icon-type-active-bg: #bee0fb;
  --antd-btn-special-icon-type-disabled-color: var(--palette-gray-6);
  --antd-btn-special-icon-type-disabled-bg: var(--palette-gray-3);

  --antd-btn-primary-color: #fff;
  --antd-btn-primary-bg: var(--antd-primary-color);
  --antd-btn-primary-bg-image: linear-gradient(
    45deg,
    rgba(0, 113, 235, 1) 0%,
    rgba(101, 178, 255, 1) 100%
  );
  --antd-btn-primary-hover-bg: var(--bg-color-button-primary-hover);
  --antd-btn-primary-active-bg: var(--bg-color-button-primary-pressed);

  --antd-btn-default-color: var(--palette-gray-8);
  --antd-btn-default-border: var(--antd-border-color-base);
  --antd-btn-default-bg: var(--antd-component-background);
  --antd-btn-default-active-border-color: #0063ce;
  --antd-btn-default-active-color: #116ac2;
  --antd-btn-default-hover-color: #53a7fb;
  --antd-btn-default-hover-border-color: #53a7fb;

  --antd-btn-danger-bg-image: linear-gradient(45deg, #f0493c 0%, #fc796f 100%);
  --antd-btn-danger-color: #fff;
  --antd-btn-danger-hover-bg: var(--bg-color-button-danger-hover);
  --antd-btn-danger-active-bg: var(--bg-color-button-danger-pressed);

  --antd-btn-link-hover-color: var(--bg-color-button-link-hover);
  --antd-btn-link-active-color: var(--bg-color-button-link-pressed);

  --antd-btn-fade-text-color: #8c8c8c;
  --antd-btn-text-hover-color: var(--bg-color-button-link-hover);
  --antd-btn-text-active-color: var(--bg-color-button-link-pressed);

  /*** anchor ***/
  --antd-anchor-radio-type-title-color: #6e6e6e;
  --antd-anchor-radio-type-bg: var(--color-fill-bg-base-1);
  --antd-anchor-radio-type-title-active-color: #262626;
  --antd-anchor-radio-type-title-active-bg: var(--antd-component-background);

  /*** input ***/
  --antd-input-bg: var(--antd-component-background);
  --antd-input-focus-border-color: var(--antd-primary-color);
  --antd-input-hover-border-color: var(--antd-primary-color);
  --antd-input-placeholder-color: var(--text-color-disabled);

  /*** select ***/
  --antd-select-item-selected-bg: #f5f5f5;
  --antd-select-dropdown-bg: var(--antd-component-background);
  --antd-select-item-active-bg: var(--antd-item-active-bg);

  /*** table  ***/
  --antd-table-bg: var(--antd-component-background);
  --antd-table-body-sort-bg: #fafafa;
  --antd-table-border-color: var(--antd-border-color-split);
  --antd-table-even-bg: var(--antd-table-bg);
  --antd-table-header-bg: #f2f5f9;
  --antd-table-header-color: var(--text-color-title);
  --antd-table-header-filter-active-bg: #d8e1ed;
  --antd-table-header-sort-active-bg: #e8edf4;
  --antd-table-header-overwrite-sort-th-active-bg: #e0e5ec;
  --antd-table-header-overwrite-sort-td-active-bg: #f4f5f7;
  --antd-table-header-sort-active-filter-bg: #f9fafc;
  --antd-table-row-hover-bg: var(--antd-background-color-light);
  --antd-table-selected-row-hover-bg: #dcf2ff;
  --antd-table-row-expand-icon-color: rgba(0, 0, 0, 0.55);
  --antd-table-row-expand-icon-action-bg: #f5f5f5;
  --antd-table-row-expand-nested-wrapper: #fafafa;
  --antd-table-row-expand-nested-wrapper-border: #e8e8e8;
  --antd-table-expanded-row-bg: #fbfbfb;

  /*** pagination  ***/
  --antd-paination-total-text: var(--text-color-disabled);
  --antd-pagination-total-strong-text: var(--text-color-default);
  --antd-pagination-item-hover: var(--color-brand);
  --antd-pagination-item-active-bg: transparent;
  --antd-pagination-item-active-border: var(--color-brand);
  --antd-pagination-item-active-text-color: var(--color-brand);
  --antd-pagination-item-selected-hover-text-color: #2893f7;
  --antd-pagination-item-selected-hover-border-color: var(
    --antd-pagination-item-active-border
  );
  --antd-pagination-item-selected-hover-bg: transparent;

  /*** modal ***/
  --antd-modal-footer-bg: transparent;
}
