:host {
  display: inline-block;
}

.dropdown-wrapper {
  position: relative;
}

.dropdown-content {
  position: absolute;
  padding-top: 4px;
  min-width: 100%;
  z-index: 1050;
}

.dropdown-content.open {
  display: block;
}

.dropdown-content.close {
  display: none;
}

.dropdown-content::before {
  position: absolute;
  inset: -4px 0px -4px -7px;
  z-index: -9999;
  opacity: 0.0001;
  content: " ";
}

.default-slot {
  position: relative;
  display: block;
  pointer-events: all;
  min-width: max-content;
  margin: 0px;
  box-sizing: border-box;
  text-align: left;
  list-style-type: none;
  background-color: var(--antd-dropdown-menu-bg);
  background-clip: padding-box;
  border-radius: 6px;
  outline: none;
  box-shadow: var(--antd-box-shadow-base);
}
