.radioGruop {
  display: inline-block;
}
.defaultRadio {
  position: relative;
  display: inline-block;
  margin-right: 12px;
  text-align: center;
  cursor: pointer;
}
.iconRadio {
  position: relative;
  display: inline-block;
  width: 104px;
  height: 104px;
  margin-right: 12px;
  text-align: center;
  cursor: pointer;
}
.iconRadio > input[type="radio"] {
  width: 0px;
  height: 0px;
}
.defaultRadio > input[type="radio"] {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-top: 0px;
}
.iconRadio > input[type="radio"]:checked ~ .content {
  border-color: var(--color-brand);
  color: var(--color-brand);
}
.defaultRadio .content {
  padding: 0px 8px 0px 8px;
}
.iconRadio .content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-fill-bg-container-1);
  color: var(--color-normal-text);
  border-radius: var(--larger-border-radius);
  border: var(--border-width-base) solid var(--color-border-divider-line);
}
.defaultRadio .content {
  vertical-align: middle;
}
.iconRadio:not(.disabledIconRadio):hover .content {
  border-color: var(--color-brand-hover);
}

.buttonRadio {
  position: relative;
  display: inline-block;
  height: 32px;
  margin: 0;
  padding: 0;
  color: var(--antd-btn-default-color);
  font-size: 14px;
  line-height: 30px;
  background: var(--antd-btn-default-bg);
  border: 1px solid var(--antd-border-color-base);
  border-top-width: 1.02px;
  border-left-width: 0;
  cursor: pointer;
  transition: color 0.3s, background 0.3s, border-color 0.3s, box-shadow 0.3s;
}
.buttonContent {
  display: inline-block;
  height: 100%;
  padding: 0 15px;
}
.buttonContent:not(.disabledButtonRadio):not(.buttonRadioCheck):hover {
  color: var(--antd-radio-dot-color);
}
.buttonRadio > input[type="radio"] {
  width: 0;
  height: 0;
  position: absolute;
}
.buttonRadioCheck:not(.disabledButtonRadio) {
  color: var(--antd-radio-solid-checked-color);
  background: var(--antd-radio-dot-color);
  border-color: var(--antd-radio-dot-color);
}
.buttonRadioCheck.disabledButtonRadio {
  color: var(--color-normal-text);
  background-color: var(--color-border-divider-line);
}
.buttonRadio:first-child {
  border-radius: 3px 0 0 3px;
  border-left: 1px solid var(--antd-border-color-base);
}
.buttonRadio:last-child {
  border-radius: 0 3px 3px 0;
}
.specialIconRadio {
  position: relative;
  display: inline-block;
  width: auto;
  margin-right: 80px;
  text-align: center;
  cursor: pointer;
  line-height: 1;
}

.specialIconRadio > input[type="radio"] {
  width: 0;
  height: 0;
}
.specialIconRadio > input[type="radio"]:checked ~ .iconContent,
.specialIconRadio > input[type="radio"]:checked ~ .iconContent .circleIcon,
.specialIconRadio > input[type="radio"]:checked ~ .iconContent .squareIcon {
  border-color: var(--color-brand);
  color: var(--color-brand);
  border-width: var(--border-width-double-base);
}
.specialIconRadio:not(.disabledIconRadio):hover .iconContent .circleIcon,
.specialIconRadio:not(.disabledIconRadio):hover .iconContent .squareIcon {
  border-color: var(--color-brand-hover);
}
.specialIconRadio .iconContent {
  color: var(--color-normal-text);
}
.specialIconRadio .iconContent > span {
  width: 93px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.specialIconRadio .iconContent .circleIcon {
  border-radius: 50%;
}
.specialIconRadio .iconContent .circleIcon,
.specialIconRadio .iconContent .squareIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto auto 6px;
  background: var(--color-fill-bg-container-1);
  border: var(--border-width-base) solid var(--color-border-divider-line);
  width: 94px;
  height: 94px;
  font-size: 46px;
}
.disabledButtonRadio,
.disabledCustomRadio {
  cursor: not-allowed;
  background-color: var(--antd-input-disabled-bg);
}
.disabledIconRadio .content,
.disabledIconRadio .iconContent {
  color: var(--color-disabled-text);
}
.disabledIconRadio .content,
.disabledIconRadio .iconContent .circleIcon,
.disabledIconRadio .iconContent .squareIcon {
  background: var(--color-fill-bg-base-1);
  border-color: var(--color-border-divider-line);
}

.dashboardRadioContainer {
  border-radius: 6px;
  border: none;
  background-color: var(--antd-dashboard-radio-bg);
}
.dashboardRadioContainer .buttonRadio {
  background: var(--antd-dashboard-radio-item-bg);
  font-size: 14px;
  color: var(--antd-dashboard-radio-item-color);
  border: none;
  height: 28px;
  margin: 2px;
}

.buttonRadio:not(:last-child)::after {
  position: absolute;
  top: 50%;
  right: -1px;
  display: block;
  box-sizing: content-box;
  width: 1px;
  height: calc(100% - 4px);
  background-color: var(--antd-border-color-base);
  transition: background-color 0.3s;
  content: "";
  transform: translateY(-50%);
}

.buttonRadioCheck::before,
.buttonRadio:has(.buttonRadioCheck):after {
  position: absolute;
  top: 50%;
  left: -4px;
  display: block;
  box-sizing: content-box;
  width: 1px;
  height: calc(100% - 8px);
  background-color: var(--antd-dashboard-radio-item-checked-border-color);
  transition: background-color 0.3s;
  content: "";
  transform: translateY(-50%);
}
.dashboardRadioContainer .buttonContent:not(.disabledButtonRadio):hover {
  color: var(--antd-dashboard-radio-item-checked-color);
}
.dashboardRadioContainer .buttonRadioCheck:not(.disabledButtonRadio) {
  color: var(--antd-dashboard-radio-item-checked-color);
  background-color: var(--antd-dashboard-radio-item-checked-bg);
  border-radius: 6px;
  font-weight: var(--font-weight-500);
}

.customRadio {
  position: relative;
  display: inline-block;
  width: 212px;
  height: 271px;
  margin-right: 12px;
  text-align: center;
  cursor: pointer;
}
.customRadio > input[type="radio"] {
  width: 0;
  height: 0;
}
.customRadio > input[type="radio"]:checked ~ .customContent {
  box-shadow: var(--hover-shadow);
}
.customRadio .customContent {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  color: var(--color-normal-text);
  border-radius: var(--larger-border-radius);
}
.customRadio.disabledCustomRadio {
  cursor: not-allowed;
}
.customRadio:not(.disabledIconRadio):hover .customContent {
  box-shadow: var(--hover-shadow);
}
.tooltipIconContent {
  margin-left: 4px;
  display: inline-block;
}

.buttonRadio.small {
  height: 26px;
  font-size: 13px;
  line-height: 26px;
}

.buttonRadio.middle {
  height: 32px;
  font-size: 14px;
}

.buttonRadio.large {
  height: 40px;
  font-size: 18px;
  line-height: 40px;
}
