:host {
  display: grid;
}

:host[hidden] {
  display: none;
}

:host([show-grid-border]) {
  border: none;
}
:host([show-grid-border]) ::slotted(*) {
  border: 1px solid var(--grid-border-color);
}

:host([gap="0"]),
:host([gap="0px"]) {
  border-top: 1px solid var(--grid-border-color);
  border-left: 1px solid var(--grid-border-color);
}

:host([gap="0"]) ::slotted(*),
:host([gap="0px"]) ::slotted(*) {
  border-bottom: 1px solid var(--grid-border-color);
  border-right: 1px solid var(--grid-border-color);
  border-top: none;
  border-left: none;
}
