.tag {
  display: inline-block;
  box-sizing: border-box;
  margin: 0px 8px 0px 0px;
  padding: 0px 9px;
  color: var(--antd-text-color);
  list-style: none;
  height: auto;
  font-size: 12px;
  line-height: 20px;
  border-radius: 12px;
  white-space: nowrap;
  background: var(--antd-background-color-light);
  opacity: 1;
  transition: all 0.3s ease 0s;
}

.tag-wrapper {
  display: flex;
  justify-content: center;
}

.tag:not([class*="color-"]) {
  background: var(--antd-tag-closable-bg);
  color: var(--antd-tag-closable-color);
}

.tag.checkable {
  cursor: pointer;
  background-color: var(--antd-tag-checkable-bg);
  color: var(--antd-tag-checkable-color);
}

.tag.checkable:not(.checked, .disabled):hover {
  color: var(--antd-tag-checkable-checked-bg);
}

.tag.checkable.checked {
  background-color: var(--antd-tag-checkable-checked-bg);
  color: var(--antd-tag-checkable-checked-color);
}

.tag.checkable.checked:not(.disabled):hover {
  opacity: 0.8;
}

.tag.disabled {
  cursor: not-allowed;
  color: var(--antd-tag-closable-disabled-color);
  background: var(--antd-tag-closable-disabled-bg);
}

/* Size */
.tag.small {
  font-size: 12px;
  list-style: 20px;
}

.tag.middle {
  font-size: 14px;
  list-style: 22px;
}

.tag.large {
  font-size: 16px;
  list-style: 24px;
}
/* Size */

/* Color */
.color-blue {
  color: var(--tag-blue-color);
  background-color: var(--tag-blue-background);
  border-color: var(--tag-blue-border-color);
}

.color-blue-inverse {
  color: var(--tag-inverse-text-color);
  background: var(--tag-blue-inverse-color);
}

.color-cyan {
  color: var(--tag-cyan-color);
  background-color: var(--tag-cyan-background);
  border-color: var(--tag-blue-cyan-color);
}

.color-cyan-inverse {
  color: var(--tag-inverse-text-color);
  background: var(--tag-cyan-inverse-color);
}

.color-geekblue {
  color: var(--tag-geekblue-color);
  background-color: var(--tag-geekblue-background);
  border-color: var(--tag-geekblue-border-color);
}

.color-geekblue-inverse {
  color: var(--tag-inverse-text-color);
  background: var(--tag-geekblue-inverse-color);
}

.color-gray {
  color: var(--tag-gray-color);
  background-color: var(--tag-gray-background);
  border-color: var(--tag-gray-border-color);
}

.color-gray-inverse {
  color: var(--tag-inverse-text-color);
  background: var(--tag-gray-inverse-color);
}

.color-green {
  color: var(--tag-green-color);
  background-color: var(--tag-green-background);
  border-color: var(--tag-green-border-color);
}

.color-green-inverse {
  color: var(--tag-inverse-text-color);
  background: var(--tag-green-inverse-color);
}

.color-orange {
  color: var(--tag-orange-color);
  background-color: var(--tag-orange-background);
  border-color: var(--tag-orange-border-color);
}

.color-orange-inverse {
  color: var(--tag-inverse-text-color);
  background: var(--tag-orange-inverse-color);
}

.color-purple {
  color: var(--tag-purple-color);
  background-color: var(--tag-purple-background);
  border-color: var(--tag-purple-border-color);
}

.color-purple-inverse {
  color: var(--tag-inverse-text-color);
  background: var(--tag-purple-inverse-color);
}

.color-red {
  color: var(--tag-red-color);
  background-color: var(--tag-red-background);
  border-color: var(--tag-red-border-color);
}

.color-red-inverse {
  color: var(--tag-inverse-text-color);
  background: var(--tag-red-inverse-color);
}

.color-yellow {
  color: var(--tag-yellow-color);
  background-color: var(--tag-yellow-background);
  border-color: var(--tag-yellow-border-color);
}

.color-yellow-inverse {
  color: var(--tag-inverse-text-color);
  background: var(--tag-yellow-inverse-color);
}
/* Color */

.tag-icon {
  vertical-align: middle;
  font-size: 12px;
}

.custom-icon {
  margin-right: 4px;
}

.close-icon {
  font-size: 10px;
  margin-left: 4px;
  cursor: pointer;
}
