.form-item {
  display: flex;
  box-sizing: border-box;
  color: var(--antd-text-color);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  vertical-align: top;
}

.form-item.vertical {
  flex-direction: column;
}

.form-item.vertical > .form-item-label {
  text-align: left;
  line-height: 1;
  margin-bottom: 8px;
}

.required {
  color: #ff4d4f;
  margin-right: 4px;
}

.form-item-label {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  line-height: 34px;
  text-align: right;
  vertical-align: middle;
  flex-grow: 0;
  padding-right: 8px;
}

.form-item-wrapper {
  flex: 1 1 0;
}

.form-item-control {
  line-height: 32px;
}

.message {
  min-height: 22px;
}

.message.error {
  clear: both;
  min-height: 23px;
  margin-top: -2px;
  color: var(--antd-error-color);
  font-size: 14px;
  line-height: 1.5715;
  transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
