.editorContainer {
  position: relative;
}

.nodeAlias {
  position: absolute;
  top: -25px;
  height: calc(25px + var(--editor-brick-border-radius));
  background-color: #d6d6d6;
  border: 1px solid var(--editor-brick-stroke-color);
  padding: 0 5px;
  border-radius: 2px;
  color: #737373;
  white-space: nowrap;
  visibility: hidden;
  pointer-events: none;
}

.editorContainer.hover > .nodeAlias,
.editorContainer.dropping > .nodeAlias {
  visibility: visible;
}

.editorBody {
  position: relative;
  border-radius: var(--editor-brick-border-radius);
  background: #fff;
}

.transparentContainer > .editorBody {
  margin: -1px;
}

.transparentContainer > .nodeAlias {
  left: -1px;
}

.nodeAlias,
.editorContainer.hover > .editorBody,
.editorContainer.dropping > .editorBody {
  box-shadow: 0 0 0 1px var(--editor-brick-stroke-color-active);
}

.editorContainer.isUpstreamNode > .nodeAlias,
.editorContainer.isDownstreamNode > .nodeAlias {
  visibility: visible;
  background-color: rgba(230, 230, 230, 0.3);
}

.editorContainer.isDownstreamNode > .editorBody,
.editorContainer.isDownstreamNode > .nodeAlias {
  box-shadow: 0 0 0 1px rgba(22, 224, 57, 0.3);
}

.editorContainer.isUpstreamNode > .editorBody,
.editorContainer.isUpstreamNode > .nodeAlias {
  box-shadow: 0 0 0 1px rgba(224, 88, 22, 0.3);
}

.arrow {
  font-size: 10px;
  padding: 0 4px;
  position: relative;
  bottom: 1px;
}
