.editorContainer {
  position: relative;
}

.nodeAlias {
  position: absolute;
  top: -25px;
  height: 34px;
  background-color: #d6d6d6;
  border: 1px solid var(--editor-brick-stroke-color);
  padding: 0 5px;
  border-radius: 2px;
  color: #737373;
  white-space: nowrap;
  visibility: hidden;
  pointer-events: none;
}

.editorContainer.hover > .nodeAlias,
.editorContainer.dropping > .nodeAlias {
  visibility: visible;
}

.editorBody {
  position: relative;
  border-radius: var(--editor-brick-border-radius);
  background: #fff;
}

.transparentContainer > .editorBody {
  margin: -1px;
}

.transparentContainer > .nodeAlias {
  left: -1px;
}

.nodeAlias,
.editorContainer.hover > .editorBody,
.editorContainer.dropping > .editorBody {
  box-shadow: 0 0 0 1px var(--editor-brick-stroke-color-active);
}
