.editorContainer {
  position: relative;
  border-radius: var(--card-inner-border-radius);
  /* padding: 6px; */
}

.editorContainer:hover,
.editorContainer.persistentBackground,
.editorContainer.dropping {
  background-color: rgba(0, 0, 0, 0.05);
}

.editorOfDefault,
.editorOfContainer {
  padding: 6px;
}

.nodeAlias {
  position: absolute;
  top: -15px;
  left: 10px;
  height: 15px;
  line-height: 15px;
  font-size: 10px;
  background-color: var(--theme-blue-background);
  padding: 0 5px;
  border-radius: 3px 3px 0 0;
  white-space: nowrap;
  visibility: hidden;
  pointer-events: none;
}

.editorContainer:hover > .nodeAlias,
.editorContainer.dropping > .nodeAlias {
  visibility: visible;
}

.editorOfDefault > .editorBox {
  border-radius: var(--card-inner-border-radius);
  background-color: #ccc;
}
