/* 大屏变量表 */
/* https://tapd.easyops.local/pages/viewpage.action?pageId=41912245 */

:host {
  /* ============== 基本色 Start ============== */
  --palette-rgba-white-1: rgba(255, 255, 255, 10%);
  --palette-rgba-white-2: rgba(255, 255, 255, 20%);
  --palette-rgba-white-3: rgba(255, 255, 255, 30%);
  --palette-rgba-white-4: rgba(255, 255, 255, 40%);
  --palette-rgba-white-5: rgba(255, 255, 255, 50%);
  --palette-rgba-white-6: rgba(255, 255, 255, 60%);
  --palette-rgba-white-7: rgba(255, 255, 255, 70%);
  --palette-rgba-white-8: rgba(255, 255, 255, 80%);
  --palette-rgba-white-9: rgba(255, 255, 255, 90%);
  --palette-rgba-white-10: rgba(255, 255, 255, 100%);

  --palette-rgba-gray-1: rgba(0, 0, 0, 10%);
  --palette-rgba-gray-2: rgba(0, 0, 0, 20%);
  --palette-rgba-gray-3: rgba(0, 0, 0, 30%);
  --palette-rgba-gray-4: rgba(0, 0, 0, 40%);
  --palette-rgba-gray-5: rgba(0, 0, 0, 50%);
  --palette-rgba-gray-6: rgba(0, 0, 0, 60%);
  --palette-rgba-gray-7: rgba(0, 0, 0, 70%);
  --palette-rgba-gray-8: rgba(0, 0, 0, 80%);
  --palette-rgba-gray-9: rgba(0, 0, 0, 90%);
  --palette-rgba-gray-10: rgba(0, 0, 0, 100%);

  --palette-tech-blue-6-channel: 51, 102, 255;
  --palette-tech-blue-6: rgb(var(--palette-tech-blue-6-channel));

  --palette-sea-green-4-channel: 131, 245, 225;
  --palette-sea-green-4: rgb(var(--palette-sea-green-4-channel));

  --palette-lotus-pink-7-channel: 204, 0, 102;
  --palette-lotus-pink-7: rgb(var(--palette-lotus-pink-7-channel));

  /* ============== 基本色 End ============== */

  /* ============== 颜色 Start ============== */

  /* 背景色 */
  --color-fill-global-bg: #0f1014;
  --color-fill-bg-container: var(--palette-rgba-white-1);
  --color-fill-bg-base-1: rgba(101, 106, 134, 20%);
  --color-fill-bg-base-2: rgba(15, 16, 20, 0%);
  --color-fill-bg-base-3: rgba(0, 0, 0, 20%);
  --color-fill-bg-base-4: rgba(40, 46, 58, 100%);
  --color-fill-bg-base-5: rgba(19, 25, 47, 80%);

  /* 主题色 */
  --color-brand: var(--palette-tech-blue-6);

  /* 辅助色 */
  --color-contrast-1: var(--palette-sea-green-4);

  /* 状态色 */
  --color-error: var(--palette-lotus-pink-7);

  /* 文字色 */
  --color-header-text-big: var(--palette-rgba-white-10);
  --color-header-text: var(--palette-rgba-white-10);
  --color-normal-text: var(--palette-rgba-white-10);
  --color-auxiliary-text: var(--palette-rgba-white-8);
  --color-secondary-text: var(--palette-rgba-white-6);

  /* 边框色 */
  --color-border-divider-line: var(--palette-rgba-white-1);
  --color-text-divider-line-1: var(--palette-rgba-white-2);
  --color-text-divider-line-2: var(--palette-rgba-white-2);

  /* ============== 颜色 End ============== */

  /* ============== 圆角 Start ============== */

  --small-border-radius: 2px;
  --medius-border-radius: 5px;
  --larger-border-radius: 12px;
  --container-border-radius: 9999px;
  --no-border-radius: 0px;

  /* ============== 圆角 End ============== */

  /* ============== 遮罩 Start ============== */

  --mask-bg: var(--palette-rgba-gray-7);

  /* ============== 遮罩 End ============== */

  /* ============== 字体 Start ============== */

  /* 标题 */
  --title-font-size-larger: 30px;
  --title-font-size: 18px;
  --normal-font-size: 14px;
  --auxiliary-font-size: 16px;
  --auxiliary-font-size-small: 12px;

  /* 统计数值 */
  --overview-data-font-size: 34px;
  --statistics-data-font-size: 28px;
  --normal-data-font-size: 16px;

  /* 图表 */
  --chart-legend-font-size: 12px;
  --chart-tooltips-font-size-1: 12px;
  --chart-tooltips-font-size-2: 12px;
  --chart-axis-x-font-size: 12px;
  --chart-axis-y-font-size: 12px;

  /* 字重 */
  --font-weight-600: 600;
  --font-weight-500: 500;
  --font-weight-400: 400;

  /* ============== 字体 End ============== */

  /* ============== 阴影 Start ============== */

  --text-shadow: 0px 1px 4px #2863ee;

  /* ============== 阴影 End ============== */

  /* ============== 线框 Start ============== */

  --border-width-base: 1px;
  --border-width-double-base: 2px;
  --border-width-tribble-base: 3px;

  /* 虚线 */
  --punctate-width-base: 1px;
  --paragraph-width-base: 1px;

  /* ============== 线框 End ============== */
}
