.category-container-wrapper {
  background: var(--antd-component-background);
}

.category-item {
  position: relative;
}

.category-item:not(:last-child)::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: calc(100% - 40px);
  height: 1px;
  background: var(--color-text-divider-line);
}

.category-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 20px 0 20px;
}

.category-left-wrap {
  display: flex;
  align-items: center;
}

.header-mark {
  display: inline-block;
  width: 4px;
  height: 16px;
  background: var(--color-brand);
  border-radius: 2px;
  margin-right: 12px;
}

.header-title {
  font-size: var(--card-title-font-size);
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: var(--font-weight-500);
  color: var(--color-header-text);
  line-height: 24px;
}

.category-item-content {
  overflow: hidden;
  padding: 24px 20px;
}
