.preview-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--antd-modal-mask-bg);
}

.preview-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.preview-image-wrap {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview-image {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  cursor: grab;
  user-select: none;
}

.preview-operations {
  position: fixed;
  z-index: 1080;
}

.preview-switch {
  font-size: 18px;
  width: 40px;
  height: 40px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1081;
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  cursor: pointer;
  transition: background, color 0.3s;
}

.preview-switch:not(.preview-switch-disabled):hover {
  background: rgba(0, 0, 0, 0.2);
}

.preview-switch-disabled {
  color: rgba(255, 255, 255, 0.25);
  background: none;
  cursor: not-allowed;
}

.preview-switch-left {
  left: 12px;
}

.preview-switch-right {
  right: 12px;
}

.preview-operations-bar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  font-size: 14px;
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.preview-operations-progress {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.preview-operations-button {
  font-size: 18px;
  margin-left: 12px;
  padding: 12px;
  cursor: pointer;
  transition: background, color 0.3s;
}

.preview-operations-button:last-of-type {
  margin-left: 0;
}

.preview-operations-button:hover {
  background: rgba(0, 0, 0, 0.2);
}

.preview-operations-button-disabled {
  color: rgba(255, 255, 255, 0.25);
  pointer-events: none;
}
