:host([has-toolbar]) .micro-view-wrapper {
  padding-top: var(--page-title-margin-top);
}

.micro-view-wrapper {
  padding: var(--page-padding);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: var(--page-title-font-size);
  font-weight: var(--page-title-font-weight);
  line-height: 32px;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
}
