.slotContainer {
  position: relative;
}

.slotName {
  position: absolute;
  top: -23px;
  height: 30px;
  line-height: 20px;
  color: var(--text-color-secondary);
  padding: 0 5px;
  border-radius: 2px;
  color: #737373;
  white-space: nowrap;
  visibility: hidden;
  pointer-events: none;
  border: 1px dashed var(--editor-brick-slot-stroke-color);
  background: var(--editor-brick-slot-bg);
}

.slotContainer.dropping > .slotName {
  visibility: visible;
}
