.drawer {
  position: fixed;
  z-index: 1000;
  top: 0;
  height: 100%;
  pointer-events: none;
}

.drawer.open {
  width: 100%;
  transition: transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
  pointer-events: auto;
}

.drawer > * {
  transition: transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1),
    box-shadow 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
}

.drawer-left,
.drawer-right {
  top: 0;
  width: 0%;
}

.drawer-top,
.drawer-bottom {
  left: 0;
  width: 100%;
}

.drawer-left {
  left: 0;
}

.drawer-right {
  right: 0;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: var(--antd-modal-mask-bg);
  opacity: 0;
  transition: opacity 0.3s linear, height 0s ease 0.3s;
}

.drawer.open > .mask {
  height: 100%;
  opacity: 1;
  transition: none;
  animation: fadeIn 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.drawer-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--antd-component-background);
  box-shadow: -6px 0 16px -8px rgb(0 0 0 / 8%), -9px 0 28px 0 rgb(0 0 0 / 5%),
    -12px 0 48px 16px rgb(0 0 0 / 3%);
}

.drawer-wrapper-left,
.drawer-wrapper-right {
  top: 0;
  width: 0%;
  height: 100%;
}

.drawer-wrapper-top,
.drawer-wrapper-bottom {
  width: 100%;
}

.drawer-wrapper-left {
  transform: translateX(-100%);
}

.drawer-wrapper-right {
  right: 0;
  transform: translateX(100%);
}

.drawer-wrapper-top {
  top: 0;
  transform: translateY(-100%);
}

.drawer-wrapper-bottom {
  bottom: 0;
  transform: translateY(100%);
}

.drawer.open .drawer-wrapper-left,
.drawer.open .drawer-wrapper-right,
.drawer.open .drawer-wrapper-bottom,
.drawer.open .drawer-wrapper-top {
  transform: translate(0, 0);
}

.drawer-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

.drawer-header {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  border-bottom: 1px solid var(--palette-gray-4);
}

.close-btn {
  cursor: pointer;
}

.drawer-title {
  color: var(--color-strong-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  word-wrap: break-word;
}

.drawer-body {
  padding: 20px;
  flex-grow: 1;
  overflow: auto;
}

.drawer-footer {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 16px 0px;
  background: var(--antd-modal-footer-bg);
}
