.dropZone {
  position: relative;
  min-height: calc(var(--editor-brick-base-height) + 2px);
}

.isSlot {
  border-radius: var(--editor-brick-border-radius);
  border: 1px dashed transparent;
}

.isSlot.dropping {
  background: var(--editor-brick-slot-bg);
  border-color: var(--editor-brick-slot-stroke-color);
}

.showOutlineIfEmpty:not(.dropping) {
  background: var(--editor-brick-skeleton-bg-light);
}

.isRoot > .dropZoneBody {
  padding: 27px 20px 20px;
  height: calc(100vh - var(--page-card-gap) * 2);
  overflow-y: auto;
}

.slotContentLayoutBlock > .dropZoneBody {
  display: grid;
  grid-gap: var(--editor-brick-gap);
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--editor-brick-inline-width), 1fr)
  );
}

.slotContentLayoutInline > .dropZoneBody {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--editor-brick-gap-half) * -1);
}

.slotContentLayoutGrid > .dropZoneBody {
  display: grid;
  grid-gap: var(--editor-brick-gap);
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--editor-brick-grid-width), 1fr)
  );
}

.dropCursor {
  position: absolute;
  background: #bb79bb;
  display: none;
  pointer-events: none;
}

.dropping > .dropCursor {
  display: block;
}

.dropCursorHorizontal {
  height: 2px;
  left: 10px;
  right: 10px;
  margin-top: -1px;
}

.dropCursorVertical {
  width: 2px;
  margin-left: -1px;
}

.dropCursor::before,
.dropCursor::after {
  position: absolute;
  content: "";
  background: #bb79bb;
}

.dropCursorHorizontal::before,
.dropCursorHorizontal::after {
  top: -4px;
  height: 10px;
  width: 2px;
}

.dropCursorHorizontal::before {
  left: 0;
}

.dropCursorHorizontal::after {
  right: 0;
}

.dropCursorVertical::before,
.dropCursorVertical::after {
  left: -4px;
  width: 10px;
  height: 2px;
}

.dropCursorVertical::before {
  top: 0;
}

.dropCursorVertical::after {
  bottom: 0;
}
