.modal.open {
  display: block;
}

.modal.hide {
  display: none;
}

.mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--antd-modal-mask-bg);
  z-index: 1000;
}

.modal-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.modal-container {
  position: relative;
  top: 100px;
  width: 520px;
  margin: 0 auto;
  background-color: var(--antd-component-background);
  border: 1px solid var(--palette-gray-5);
  border-radius: 4px;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
    0 9px 28px 8px rgb(0 0 0 / 5%);
}

.modal-container.fullscreen {
  top: 0;
  margin: 20px;
  width: auto;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  border-bottom: 1px solid var(--palette-gray-4);
}

.close-btn {
  cursor: pointer;
}

.modal-title {
  color: var(--color-strong-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  word-wrap: break-word;
}

.modal-body {
  padding: 24px;
}

.modal-body.fullscreen {
  width: 100%;
  height: calc(100vh - 198px);
  overflow: auto;
}

.modal-footer {
  padding: 10px 24px;
  background-color: var(--antd-modal-footer-bg);
  text-align: right;
}

.modal-footer button + button {
  margin-left: 8px;
}
