name: CI

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
    - next
    - renovate/*

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - name: Setup timezone
      uses: zcong1993/setup-timezone@master
      with:
        timezone: Asia/Shanghai

    - uses: actions/checkout@v3

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        registry-url: 'https://registry.npmjs.org'
        cache: yarn

    - name: Cache nx cache
      uses: actions/cache@v3
      with:
        path: .cache
        key: ${{ runner.os }}-nx-${{ hashFiles('**/package.json') }}
        restore-keys: |
          ${{ runner.os }}-nx-

    - name: Cache npx packages
      uses: actions/cache@v3
      with:
        path: ~/.npm
        key: ${{ runner.os }}-wait-on--start-serve-and-test
        restore-keys: |
          ${{ runner.os }}-wait-on--start-serve-and-test

    - name: Get cypress version
      id: cypress-version
      run: echo "::set-output name=ver::$(cat package.json|grep '\"cypress\":'|awk -F '[:,\"]' '{print $5}')"

    - name: Cache Cypress binary
      uses: actions/cache@v3
      with:
        path: ~/.cache/Cypress
        key: cypress-${{ runner.os }}-cypress-${{ steps.cypress-version.outputs.ver }}
        restore-keys: |
          cypress-${{ runner.os }}-cypress-

    # Fix `yarn install --frozen-lockfile` not working in monorepo.
    # https://github.com/yarnpkg/yarn/issues/5840#issuecomment-468782288
    - name: Get checksum before yarn install
      id: yarn-lock-check-before
      run: echo "::set-output name=sum::$(cksum yarn.lock)"

    - run: yarn install --frozen-lockfile
      env:
        CYPRESS_INSTALL_BINARY: ''
        CYPRESS_DOWNLOAD_MIRROR: ''

    - name: Get checksum after yarn install
      id: yarn-lock-check-after
      run: echo "::set-output name=sum::$(cksum yarn.lock)"

    - name: Exit if yarn.lock updated
      run: exit 1
      if: steps.yarn-lock-check-before.outputs.sum != steps.yarn-lock-check-after.outputs.sum

    - run: yarn build
    - run: yarn test:ci
    - run: yarn test:e2e:ci
      env:
        CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}

    - name: Codecov
      uses: codecov/codecov-action@v3
      with:
        files: >-
          ./packages/brick-http/.coverage/cobertura-coverage.xml,./packages/brick-icons/.coverage/cobertura-coverage.xml,./packages/brick-kit/.coverage/cobertura-coverage.xml,./packages/brick-scripts/.coverage/cobertura-coverage.xml,./packages/brick-utils/.coverage/cobertura-coverage.xml,./packages/color-theme/.coverage/cobertura-coverage.xml,./packages/cook/.coverage/cobertura-coverage.xml,./packages/create-next-repo/.coverage/cobertura-coverage.xml,./packages/dev-dependencies/.coverage/cobertura-coverage.xml,./packages/easyops-analytics/.coverage/cobertura-coverage.xml,./packages/easyops-illustrations/.coverage/cobertura-coverage.xml,./packages/editor-bricks-helper/.coverage/cobertura-coverage.xml,./packages/less-plugin-css-variables/.coverage/cobertura-coverage.xml,./packages/pipes/.coverage/cobertura-coverage.xml,./packages/repo-config/.coverage/cobertura-coverage.xml,./packages/sdk-scripts/.coverage/cobertura-coverage.xml

    - id: next-publish-from-tags
      uses: easyops-cn/actions-next-publish-from-tags@master
      with:
        npm-token: ${{ secrets.NPM_TOKEN }}
      if: github.event_name == 'push'

    - name: Sync taobao npm mirror
      run: npx lerna exec -- curl -sLX PUT 'https://npm.taobao.org/sync/$LERNA_PACKAGE_NAME?sync_upstream=true'
      if: github.event_name == 'push' && steps.next-publish-from-tags.outputs.has-tags
